In [6]:
import pandas as pd
import matplotlib.pyplot as mp
import seaborn as SB

In [7]:
data = pd.read_csv('Turistas_v_ctimas_de_delitos_en_Colombia.csv')
#si tuviera el csv en otra carpeta tendría que poner la ruta

In [8]:
print(data.shape)
data.info()

(262, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   FECHA                  262 non-null    object
 1   PAÍS                   72 non-null     object
 2   DEPARTAMENTO           262 non-null    object
 3   MUNICIPIO              262 non-null    object
 4   DELITO                 262 non-null    object
 5   PAIS VÍCTIMA           262 non-null    object
 6   GENERO                 262 non-null    object
 7   ZONA                   262 non-null    object
 8   CIRCUNSTANCIASPERSONA  262 non-null    object
dtypes: object(9)
memory usage: 18.5+ KB

In [9]:
#exploring categorical column levels
col_cat = ['FECHA', 'DEPARTAMENTO', 'MUNICIPIO', 'DELITO', 'PAIS VÍCTIMA', 'GENERO', 'ZONA', 'CIRCUNSTANCIASPERSONA']

for col in col_cat:
    print(f'Column {col}: {data[col].nunique()} subnivels' )

Column FECHA: 165 subnivels
Column DEPARTAMENTO: 15 subnivels
Column MUNICIPIO: 22 subnivels
Column DELITO: 12 subnivels
Column PAIS VÍCTIMA: 35 subnivels
Column GENERO: 2 subnivels
Column ZONA: 2 subnivels
Column CIRCUNSTANCIASPERSONA: 35 subnivels

In [10]:
#there are not columns with a single level, so we don't make changes
#see if there are duplicate rows and delete them

print(data.shape)
data.drop_duplicates(inplace=True)
print(data.shape)

"""I would believe that on the same day there could be victims from the same group of tourists, 
however there is no data such as 'name' that characterizes the individuality of each tourist."""

(262, 9)
(254, 9)

"I would believe that on the same day there could be victims from the same group of tourists, \nhowever there is no data such as 'name' that characterizes the individuality of each tourist."

In [11]:
#lets see typographical errors in ca

In [12]:
#Delet the colum PAÍS, we know that everything is about Colombia.
"""data = data.drop(columns=['PAÍS'])
print(data.shape)
data.info()"""

"data = data.drop(columns=['PAÍS'])\nprint(data.shape)\ndata.info()"